---
const { image, name, location, short_description, slug } = Astro.props;
---

<a href={`/works/${slug}`}>
  <article>
    <img src={image} alt="" />
    <h3>{name}</h3>
    <h4>{location}</h4>
    <p>{short_description}</p>
  </article></a
>
<style>
  article {
    background-color: rgba(32, 29, 29, 0.576);
    border-radius: 10px;
  }
  img {
    border-radius: 7%;
    width: 100%;
    height: auto;
  }
  h3 {
    color: #f3f0f0;
    font-size: 1.5rem;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 4px solid #66f0e0;
    display: inline-block;
  }
  h4 {
    color: #f3f0f0;
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
  }
</style>
