---
import MainLayout from "../Layout/MainLayout.astro";
import Programcard from "../Komponenter/Programcard.astro";
import Filtreringsknap from "../Komponenter/Filtreringsknap.astro";
const response = await fetch("https://blnvnuoflfvyhnlelhww.supabase.co/rest/v1/Database CLF", {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsbnZudW9mbGZ2eWhubGVsaHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTYwMDgsImV4cCI6MjAyNjA3MjAwOH0.MzwYu3VMdV5kZ7WOfWD9Mih_W2HkZAABnLM8AvaBHn4",
  },
});
const data = await response.json();
console.log(data);
---

<MainLayout title="CLF - Programliste" background="illustration">
  <div class="test">
  <h1>Program</h1>
  <Filtreringsknap />
  <p>I februar 2024 kan lysfestivalens gæster tage på opdagelse i Københavns indre by og i områderne Refshaleøen, Ørestad, DR Koncerthuset, Vestre Kirkegård, Nordhavn og brokvartererne. Alle festivalens lysværker kan opleves via gå-, løbe-, cykel, havnebus- og/eller busruter. Se hér, hvilke 58 lysværker vi præsenterede for festivalens mange gæster hver aften.
  </p>
</div>


  <div class="grid">
    {
      data.map((item) => {
        return <Programcard name={item.name} image={item.image2} location={item.location} short_description={item.short_description} />;
      })
    }
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    margin-left: 7%;
    margin-right: 7%;
  }
  p {
    font-size: 1.2rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
  }
  h1 {
    font-size: 5rem;

  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  /* 
  <article>
  <img src={image} alt="" />
  <h3>{name}</h3>
  <h4>{location}</h4>
  <p>{description}</p>
</article>
 */
</style>
<!-- {
    image: 'https://copenhagenlightfestival.org/wp-content/uploads/2024/02/61-Lotus-4-scaled.jpg',
    name: 'LOTUS',
    location: 'Vestre Kirkegård',
    short_description: null
  }, -->
